# VARIÁVEIS DE AMBIENTE (SEGURANÇA)
.env
.env.*
!.env.example


# BACKEND (Python / FastAPI)
# Ambientes Virtuais
venv/
env/
.venv/

# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Banco de dados local (caso faça testes com SQLite)
*.db
*.sqlite3


# FRONTEND (Node.js / Next.js)
backend/node_modules/
frontend/node_modules/
node_modules/

# Builds do Next.js
.next/
out/
build/
.vercel/

# Logs do Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SISTEMA OPERACIONAL E IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp